.ModalForm {
  display: flex;
  flex-direction: column;
}

.ModalForm input {
  background-color: #F2F2F2;
  border-bottom: 1px solid #402318;
  margin-bottom: 2em;
}

.ModalForm label {
  position: absolute;
  font-size: .9em;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.ModalForm .form-name {
  top: 10px;
}

.ModalForm .align-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ModalForm .align-row {
  display: none;
}

.check-teacher {
  display: none;
}
