.chatroom-message-container {
  /*background: red;*/
  margin: 6px 0;
  display: flex;
  flex-direction: column;
}

.chatroom-author {
  /*display: inline-block;*/
  /*display: inline;*/
  font-size: 11px;
  color: #333;
  padding: 0 4px;
  /*background: black;*/
  /*background: #f1f1f1;*/
}

.chatroom-author span {
  background: #f1f1f1;
  padding: 2px 4px;
  display: inline-block;
}

.chatroom-author span:first-child{
  font-weight: bold;
}

.chatroom-body {
  /*background: green;*/
  color: white;
  /*color: #000;*/
  margin: 0 5px;
  display: flex;
  font-size: 14px;
  font-weight: lighter;
}

.f-end {
  justify-content: flex-end;
}

.chatroom-body span {
  /*background: blue;*/
  display: inline-block;
  padding: 7px 10px;
  /*border-radius: 12px;*/
  border-radius: 8px;

}

.user-message {
  /*background: #402318;*/
  padding: 10px;
  margin-left: 100px;
  background: #f18909;
}

.chat-message {
  /*background: #c05f39;*/
  background: #d8d8d8;
  /*background: #5BC236;*/

  /*background: #aaa;*/
  color: #333;
  margin-right: 100px;
}
