nav {
  background: #402318;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4em;
  width: 100vw;
}

nav .btn {
  font-family: Helvetica, sans-serif;
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .02em;
  display: block;
  padding: 10px;
}

.main-nav {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.main-nav h1 {
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  /* margin-right: 1em; */
}

.main-nav .links {
  display: none;
}

.links-is-open {
  background-color: #A65A18;
  position: absolute;
  top: 66px;
  left: 0;
  width: 100vw;
}

.auth-dashboard {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.auth-dashboard img {
  border-radius: 100%;
  border: .1em solid white;
}

.auth-nav {
  display: flex;
  align-items: center;
}

.auth-nav .btn {
  color: white;
  cursor: pointer;
}

.auth-nav .btn:hover,
.auth-nav .btn:hover {
  color: #F18909;
}

/* =========================
// HAMBURGER MENU
// ====================== */

.hamburger {
  padding: 10px 0 10px 10px;
}

.hamburger .line {
  width: 50px;
  height: 2px;
  background-color: #ecf0f1;
  display: block;
  margin: 13px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(15px) rotate(44deg);
  -ms-transform: translateY(15px) rotate(44deg);
  -o-transform: translateY(15px) rotate(44deg);
  transform: translateY(15px) rotate(44deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-15px) rotate(-44deg);
  -ms-transform: translateY(-15px) rotate(-44deg);
  -o-transform: translateY(-15px) rotate(-44deg);
  transform: translateY(-15px) rotate(-44deg);
}

@media only screen and (min-width: 600px) {
  /*nav {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*height: 4em;*/
  /*padding: 0em 1em 0em 1em;*/
  /*width: 100vw;
  }*/
  .main-nav {
    display: flex;
    /* background: pink; */
  }
  .main-nav .links {
    /* background: blue; */
    display: flex;
    justify-content: space-between;
  }
  nav .btn {
    display: inline-block;
  }
  .hamburger {
    display: none;
  }
  .main-nav .links {
    display: flex;
  }
}
