.tabButtonContainer {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tabButtonContainer button {
  margin: 2em .5em 2em .5em;
  color: #ffb800;
  font-weight: 600;
  font-size: 1.25em;
  cursor: pointer;
}

.tabListContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
}

.sidebarContainer {
  max-width: 33%;
  height: 90vh;
  border: 1px solid black;
  background: #402318;
}

ol,
ul {
  text-align: left;
  max-height: 60%;
  overflow: scroll;
}

.tabListContainer ol li {
  height: 5em;
  margin-bottom: .4em;
  background-color: rgba(0, 0, 0, .2);
  color: #f18909;
  cursor: pointer;
}

.selectedContent {
  border: 1px solid black;
  width: 100%;
  background: #402318
}

.selectedButton {
  background-color: rgba(0, 0, 0, .2);
  cursor: pointer;
}

.completeContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
}

.needHelpContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 3em;
}

.needHelpContainer img {
  max-width: 9em;
  border-radius: 100%;
  padding-bottom: 2em;
}

.needHelpContainer button {
  background-color: #f18909;
  width: 75%;
  padding: 1em 0em 2em 0em;
  align-content: center;
  cursor: pointer;
}